DirectoryIndex dispatch.cgi

<Files ".*">
       deny from all
</Files>

<Files "*.rb">
        deny from all
</Files>

RewriteEngine On
RewriteBase /isandatosyo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ dispatch.cgi/$1 [L]
